<html>

<head>
    

</head>
<body>
<button type="button" class="btn btn-primary" routerLink="addEmployee">Add Employee</button>
<button type="button" class="btn btn-secondary" routerLink="addEmployeeDependants">Add Dependant</button>
<button type="button" class="btn btn-success">Add Education Details</button>
<button type="button" class="btn btn-danger">Update Details</button>
<button type="button" class="btn btn-danger">Delete Employee Data</button>
<button type="button" class="btn btn-success">Retrieve Employee data</button>

<router-outlet></router-outlet>
</body>

</html>